<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55281444976-jtotdq2n8b9p75lp2m5aopohban5hh5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55281444976-jtotdq2n8b9p75lp2m5aopohban5hh5s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55281444976-ob4i67c9jh1kck1fdjil78s2dnq9p4jd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGputcE-SdUVNaWzi3w_F2oUuV-QpwmuU</string>
	<key>GCM_SENDER_ID</key>
	<string>55281444976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukidhar.eduMates</string>
	<key>PROJECT_ID</key>
	<string>mpfirebaseproject-7ff28</string>
	<key>STORAGE_BUCKET</key>
	<string>mpfirebaseproject-7ff28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55281444976:ios:43d3d5b7c1dbf1b659ecb5</string>
	<key>DATABASE_URL</key>
	<string>https://mpfirebaseproject-7ff28.firebaseio.com</string>
</dict>
</plist>